body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-title{
    width: 100vw;
    height: 100vh;
}
.slide-content {
    width: 100vw;
}
.maintitle {
    font-size: 3em;
}

.apibutton {
    padding: 10px 20px 10px 20px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color:red;
    color: white;
    text-decoration: none;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
}
.apibutton:hover {
    background-color: darkred;
}